<form onsubmit={{action "login"}}>
  <img class="mb-4" src="images/logo-dark.png" alt="" height="57" />
  <h1 class="h3 mb-3 fw-normal">Вход</h1>
  {{#each errors as |error|}}
    <div class="error-alert">{{error.detail}}</div>
  {{/each}}
  <div class="form-floating">
    {{input
      type="email"
      class="form-control"
      id="floatingInput"
      placeholder="name@example.com"
      value=email
    }}
    {{#if (and isInvalid (v-get this "email" "isInvalid"))}}
      <span class="error-message">
        {{v-get this "email" "message"}}
      </span>
    {{/if}}
  </div>
  <div class="form-floating">
    {{input
      type="password"
      class="form-control"
      id="floatingPassword"
      placeholder="Пароль"
      value=password
    }}
    {{#if (and isInvalid (v-get this "password" "isInvalid"))}}
      <span class="error-message">
        {{v-get this "password" "message"}}
      </span>
    {{/if}}
  </div>

  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me" />
      Запомнить
    </label>
  </div>
  <button
    class="w-100 btn btn-lg btn-primary mb-3"
    type="submit"
    href="index.html"
  >Войти</button>
  {{#link-to "index" class="w-100"}}Назад{{/link-to}}
</form>