<div class="container h-100">
  <div class="htop">
    <h2 class="text-center">Книги</h2>
    <div class="form-row navbar-panel justify-content-between">
      <div class="col-md-auto">
        {{#if session.isAuthenticated}}
          <button
            class="btn btn-outline-primary my-2"
            type="button"
            title="Добавить книгу"
            onclick={{action "clickOnCreateButton"}}
          >
            <svg
              viewBox="0 0 16 16"
              class="bi bi-plus card-button"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
              ></path>
            </svg>
          </button>
        {{/if}}
      </div>
      <div class="col-md-auto">
        <form class="form-inline">
          <input
            class="form-control mr-2 search-long"
            type="search"
            placeholder="Найти по полям"
            aria-label="Найти по полям"
            oninput={{action "search"}}
            defaultValue={{search}}
          />
        </form>
      </div>
      <div class="col-md-auto">
        <form class="form-inline">
          <input
            class="form-control mr-2"
            type="search"
            placeholder="Поиск по тегам"
            aria-label="Найти по тегам"
            oninput={{action "searchByTags"}}
            defaultValue={{searchByTags}}
          />
        </form>
      </div>
    </div>
    {{#if this.isLoading}}
      <div class="container h-100">
        <div class="row align-items-center justify-content-center h-100">
          <img src="/images/loading.gif" alt="Loading" />
        </div>
      </div>
    {{else}}
      <div class="row row-cols-1 row-cols-md-3 fix-margin">
        {{#each model as |book|}}
          {{book-item
            book=book
            deleteAction=(action "deleteBook" book)
            editAction=(action "clickOnEditButton" book.id)
            routeByTag=(action "routeByTag")
          }}
        {{/each}}
      </div>
    {{/if}}
  </div>
</div>